# Leer Datos Car Wheel
El objetivo de este notebook es leer el archivo de datos .csv con las informaci√≥n del datasheet de carwheel

# Definiciones

In [45]:
# Aqui van las definiciones 
# rutadatos = TBD

# Import Libraries

In [46]:
# Import packages 
import pandas as pd

# Leer Datos

Cargar el archivo de datos y ponerlo en un dataframe de pandas

In [47]:
# Define the file path

file_path = '/Users/rguti/Documents/TC1002s/TC1002S/NotebooksProfessor/cartwheel/cartwheel.csv'

# Read the CSV file into pandas DataFrame

df = pd.read_csv(file_path)

In [48]:
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56.0,F,1,Y,1,62.00,61.0,79,Y,1.0,7
1,2,26.0,F,1,Y,1,62.00,60.0,70,Y,1.0,8
2,3,33.0,F,1,Y,1,66.00,64.0,85,Y,1.0,7
3,4,39.0,F,1,N,0,64.00,63.0,87,Y,1.0,10
4,5,27.0,M,2,N,0,73.00,75.0,72,N,0.0,4
5,6,24.0,M,2,N,0,75.00,71.0,81,N,0.0,3
6,7,28.0,M,2,N,0,75.00,76.0,107,Y,1.0,10
7,8,22.0,F,1,N,0,65.00,62.0,98,Y,1.0,9
8,9,29.0,M,2,Y,1,74.00,73.0,106,N,0.0,5
9,10,33.0,F,1,Y,1,63.00,60.0,65,Y,1.0,8
10,11,30.0,M,2,Y,1,69.50,66.0,96,Y,1.0,6
11,12,28.0,F,1,Y,1,62.75,58.0,79,Y,1.0,10
12,13,25.0,F,1,Y,1,65.00,64.5,92,Y,1.0,6
13,14,23.0,F,1,N,0,61.50,57.5,66,Y,1.0,4
14,15,31.0,M,2,Y,1,73.00,74.0,72,Y,1.0,9
15,16,26.0,M,2,Y,1,71.00,72.0,115,Y,1.0,6
16,17,26.0,F,1,N,0,61.50,59.5,90,N,0.0,10
17,18,27.0,M,2,N,0,66.00,66.0,74,Y,1.0,5
18,19,23.0,M,2,Y,1,70.00,69.0,64,Y,1.0,3
19,20,24.0,F,1,Y,1,68.00,66.0,85,Y,1.0,8
20,21,23.0,M,2,Y,1,69.00,67.0,66,N,0.0,2
21,22,29.0,M,2,N,0,71.00,70.0,101,Y,1.0,8
22,23,25.0,M,2,N,0,70.00,68.0,82,Y,1.0,4
23,24,26.0,M,2,N,0,69.00,71.0,63,Y,1.0,5
24,25,23.0,F,1,Y,1,65.00,63.0,67,N,0.0,3
25,26,28.0,M,2,N,0,75.00,76.0,111,Y,1.0,10
26,27,24.0,M,2,N,0,78.40,71.0,92,Y,1.0,7
27,28,25.0,M,2,Y,1,76.00,73.0,107,Y,1.0,8
28,29,32.0,F,1,Y,1,63.00,60.0,75,Y,1.0,8
29,30,38.0,F,1,Y,1,61.50,61.0,78,Y,1.0,7
30,31,27.0,F,1,Y,1,62.00,60.0,72,Y,1.0,8
31,32,33.0,F,1,Y,1,65.30,64.0,91,Y,1.0,7
32,33,38.0,F,1,N,0,64.00,63.0,86,Y,1.0,10
33,34,27.0,M,2,N,0,77.00,75.0,100,Y,1.0,8
34,35,24.0,F,1,N,0,67.80,62.0,98,Y,1.0,9
35,36,27.0,M,2,N,0,68.00,66.0,74,Y,1.0,5
36,37,25.0,F,1,Y,1,65.00,64.5,92,Y,1.0,6
37,38,26.0,F,1,N,0,61.50,59.5,90,Y,1.0,9
38,39,31.0,M,2,Y,1,73.00,74.0,72,Y,1.0,9
39,40,30.0,M,2,Y,1,69.50,66.0,96,Y,1.0,6
40,41,23.0,F,1,N,0,70.40,71.0,66,Y,1.0,4
41,42,26.0,M,2,Y,1,73.50,72.0,115,Y,1.0,6
42,43,28.0,F,1,Y,1,72.50,72.0,81,Y,1.0,10
43,44,26.0,F,1,Y,1,72.00,72.0,92,Y,1.0,8
44,45,30.0,F,1,Y,1,66.00,64.0,85,Y,1.0,7
45,46,39.0,F,1,N,0,64.00,63.0,87,Y,1.0,10
46,47,27.0,M,2,N,0,78.00,75.0,72,N,0.0,7
47,48,24.0,M,2,N,0,79.50,75.0,82,N,0.0,8
48,49,28.0,M,2,N,0,77.80,76.0,99,Y,1.0,9
49,50,30.0,F,1,N,0,74.60,NaN,71,Y,1.0,9
50,51,NaN,M,2,N,0,71.00,70.0,101,Y,NaN,8
51,52,27.0,M,2,N,0,NaN,71.5,103,Y,1.0,10

Get number of rows and columns

In [49]:
df.shape

(52, 12)

Get number of rows

In [50]:
Nrows = df.shape[0]

print(f"The number of rows is: {Nrows}")

The number of rows is: 52

Get number of columns

In [51]:
Ncols = df.shape[1]

print(f"The number of columns is: {Ncols}")

The number of columns is: 12

# Explorar DataFrame

In [52]:
# Obtener los nombres de las columnas
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [53]:
# Obtener los datos de una columna

# df.Age
# df['Age']

In [54]:
#  Obtener un nuevo dataframe con algunas columnas
df2 = df[["Age","Height","Wingspan"]]
df2

     Age  Height  Wingspan
0   56.0   62.00      61.0
1   26.0   62.00      60.0
2   33.0   66.00      64.0
3   39.0   64.00      63.0
4   27.0   73.00      75.0
5   24.0   75.00      71.0
6   28.0   75.00      76.0
7   22.0   65.00      62.0
8   29.0   74.00      73.0
9   33.0   63.00      60.0
10  30.0   69.50      66.0
11  28.0   62.75      58.0
12  25.0   65.00      64.5
13  23.0   61.50      57.5
14  31.0   73.00      74.0
15  26.0   71.00      72.0
16  26.0   61.50      59.5
17  27.0   66.00      66.0
18  23.0   70.00      69.0
19  24.0   68.00      66.0
20  23.0   69.00      67.0
21  29.0   71.00      70.0
22  25.0   70.00      68.0
23  26.0   69.00      71.0
24  23.0   65.00      63.0
25  28.0   75.00      76.0
26  24.0   78.40      71.0
27  25.0   76.00      73.0
28  32.0   63.00      60.0
29  38.0   61.50      61.0
30  27.0   62.00      60.0
31  33.0   65.30      64.0
32  38.0   64.00      63.0
33  27.0   77.00      75.0
34  24.0   67.80      62.0
35  27.0   68.00      66.0
36  25.0   65.00      64.5
37  26.0   61.50      59.5
38  31.0   73.00      74.0
39  30.0   69.50      66.0
40  23.0   70.40      71.0
41  26.0   73.50      72.0
42  28.0   72.50      72.0
43  26.0   72.00      72.0
44  30.0   66.00      64.0
45  39.0   64.00      63.0
46  27.0   78.00      75.0
47  24.0   79.50      75.0
48  28.0   77.80      76.0
49  30.0   74.60       NaN
50   NaN   71.00      70.0
51  27.0     NaN      71.5

In [55]:
df2.tail(3)

     Age  Height  Wingspan
49  30.0    74.6       NaN
50   NaN    71.0      70.0
51  27.0     NaN      71.5

In [56]:
df2.head(4)

    Age  Height  Wingspan
0  56.0    62.0      61.0
1  26.0    62.0      60.0
2  33.0    66.0      64.0
3  39.0    64.0      63.0

# Estadisticas de las variables

Calcular y visualizar estadisiticas descriptivas

In [57]:
df2.mean(0)

Age         28.411765
Height      68.971569
Wingspan    67.313725
dtype: float64

In [58]:
df2.describe()

             Age     Height   Wingspan
count  51.000000  51.000000  51.000000
mean   28.411765  68.971569  67.313725
std     5.755611   5.303812   5.624021
min    22.000000  61.500000  57.500000
25%    25.000000  64.500000  63.000000
50%    27.000000  69.000000  66.000000
75%    30.000000  73.000000  72.000000
max    56.000000  79.500000  76.000000

Iris

In [1]:
# Importar librer√≠as necesarias
import pandas as pd
from sklearn.datasets import load_iris

# Cargar el dataset de iris
iris = load_iris()

# Crear un DataFrame con las caracter√≠sticas de iris
iris_df = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])

# A√±adir la columna de especies (target)
iris_df['species'] = iris['target']

# Mostrar las primeras filas del DataFrame
print(iris_df.head())

# Explorar el DataFrame
print(f"Shape of the iris dataset: {iris_df.shape}")
print(f"Column names: {iris_df.columns}")
print(f"Descriptive statistics: \n{iris_df.describe()}")

# Estad√≠sticas por especie
species_mapping = dict(enumerate(iris['target_names']))
print(f"Species mapping: {species_mapping}")

# Reemplazar valores num√©ricos de 'species' con nombres
iris_df['species'] = iris_df['species'].map(species_mapping)

# Mostrar DataFrame con nombres de especies
print(iris_df.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   species
0        0
1        0
2        0
3        0
4        0
Shape of the iris dataset: (150, 5)
Column names: Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'species'],
      dtype='object')
Descriptive statistics:
       sepal length (cm)  sepal width (cm)  petal length (cm)  \
count         150.000000        150.000000         150.000000
mean            5.843333          3.057333           3.758000
std             0.828066          0.435866           1.765298
min             4.300000          2.000000           1.000000
25%             5.100000          2.800000           1.600000
50%             5.800000          3.000000           4.350000
75%             6.400000          3.300000           5.100000
max             7.900000          4.400000           6.900000

       petal width (cm)     species
count        150.000000  150.000000
mean           1.199333    1.000000
std            0.762238    0.819232
min            0.100000    0.000000
25%            0.300000    0.000000
50%            1.300000    1.000000
75%            1.800000    2.000000
max            2.500000    2.000000
Species mapping: {0: 'setosa', 1: 'versicolor', 2: 'virginica'}
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa